*~
*.swp
*.mat
*.eps
*.pdf
*.fig
*.orig
*.asv
*.zip
*.sh
mainParamStudie.m
requestboxmodel.m
cipD24.m
cdsimD24.m
parD24.m
mainMEME.m
evaluateBOX.m
main0630.m
mainD24.m
nodes.txt
content_placement/
content_placement_LS/
data/20150101.as-links.csv
data/20150101.as-links.graphml
data/20150101.as-rel.txt
data/20150101.ppdc-ases.txt
data/csv2graphml.pl
data/parseASLinks.pl
lib/hotwarmcold_w1.m
lib/matlab_bgl/
lib/li13/
lib/snm/

YTprobs.m
data/VoD.svg
data/VoD_data.svg
data/YT.svg
data/YT_data.svg
data/bladaten_nurskala.tex
data/unadaId_timestamp_videoId.txt
hotwarmcold_hitrate.m
importsvg.m
importtex.m
mainLargeScaleStudy.m
maintommy.m
maintommyanalysis.m
as_rel.m
ciplot.m
evalVideos.m
evaluate.m
hotwarm_cold.main
main.m
mainCache.m
mainRBH.m
mainRBH2.m
mainSEConD.m
matlab_bgl.m
parRBH.m
parRBHORST.m
parSECD.m
printfig.m
